body{
    background-color: rgb(17, 17, 17);
}
pre{
    color: white;
}

#ol{
    -webkit-box-shadow: 0 0 0px 10px  #f1f7f5;
    -moz-box-shadow: 0 0 0 10px  #f1f7f5;
    -ms-box-shadow: 0 0 0 10px  #f1f7f5;
    box-shadow: 0 0 0 10px #f1f7f5;
}